header {
    background-color: #07575B;
    size: 50px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center */
};

h1 {
    margin: 0 auto;
    color:#C4DFE6;
}

main {
    background-color: #66A5AD;
};

div {
    background-color: #C4DFE6;
};

footer {
    background-color: #003B46
};